<!-- Mask -->
<div class="mask">
  <!-- Main container -->
  <div class="container">
    <!-- Chat list view -->

    <!-- Conversation view -->
    <section class="conversation">
      <!-- Conversation view header -->
      <header class="conversation__header" style="background-color: #24b9ff">
        <button
          class="conversation__btn btn btn--list"
          title="Conversation list"
          (click)="goBack()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="8" y1="6" x2="21" y2="6"></line>
            <line x1="8" y1="12" x2="21" y2="12"></line>
            <line x1="8" y1="18" x2="21" y2="18"></line>
            <line x1="3" y1="6" x2="3.01" y2="6"></line>
            <line x1="3" y1="12" x2="3.01" y2="12"></line>
            <line x1="3" y1="18" x2="3.01" y2="18"></line>
          </svg>
        </button>
        <div class="conversation__info">
          <span class="conversation__status"></span>
          <span class="conversation__name" style="color: white"
            >Inventory Ahead</span
          >
        </div>
        <div class="conversation__header-actions">
          <button class="conversation__btn btn btn--close" title="Close chat">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
      </header>

      <!-- Conversation view messages -->
      <div class="conversation__body">
        <div
          [innerHTML]="theHtmlString"
          style="width: 90%; height: 100%"
          *ngIf="isShowArticle == true && showLoader == false"
        ></div>
        <div *ngIf="showLoader" style="height: 100vh; background: white">
          <img
            src="../assets/loader.gif"
            alt=""
            style="width: 100%; margin-top: 35%"
          />
        </div>
        <div *ngIf="isShowArticle == false && showLoader == false">
          <div
            [ngClass]="
              message.sendBy == 'Server'
                ? 'conversation__bubble conversation__bubble--left'
                : message.sendBy == 'Result'
                ? 'conversation__bubble conversation__bubble--left'
                : 'conversation__bubble conversation__bubble--right'
            "
            *ngFor="let message of Conversation"
            (click)="showArticle(message)"
          >
            <p
              [ngClass]="
                message.sendBy != 'Result'
                  ? 'conversation__text'
                  : 'conversation__text resultBox'
              "
            >
              {{ message.text }}
            </p>
          </div>
        </div>
      </div>

      <!-- Conversation view footer -->
      <footer class="conversation__footer">
        <input
          type="text"
          class="conversation__write"
          [(ngModel)]="message"
          placeholder="Enter Your Search Query Here !"
        />
        <button
          class="conversation__btn btn btn--send"
          title="Send message"
          (click)="addMessageToConversation()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </footer>
    </section>
  </div>
</div>
